body {
  font-size: 1em;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.outputUl {
  font-size: 0.8em;
}

.check {
  color: red;
  margin-left: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

.check:focus {
  outline: 0;
}

.outputInput:focus {
  outline: 0;
}
